polkit.addRule(function(action, subject) {
    if (action.id == "org.freedesktop.systemd1.manage-units" &&
        action.lookup("unit") == "systemd-timesyncd.service" &&
        subject.user == "rpi-first-boot-wizard") {
        return polkit.Result.YES;
    }
});